div[kw] > [kr="kfb"] {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    pointer-events: none !important;
}

form[kcl = "rflex"], div[kcl = "rflex"],
form[kcl="rflex"] > [kr="viewport"],
form[kcl="rflex"] > [kr="viewport"] > [kr = "scrolee"] {
    display: flex !important;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: flex-start;
}

form[kcl = "rflex"] > [kw], div[kcl = "rflex"] > [kw],
form[kcl = "rflex"] > [kr = "viewport"] > [kw],
div[kcl = "rflex"] > [kr = "viewport"] > [kw],
form[kcl = "rflex"] > [kr = "scrolee"] > [kw],
div[kcl = "rflex"] > [kr = "scrolee"] > [kw],
form[kcl = "rflex"] > [kr = "viewport"] > [kr = "scrolee"] > [kw],
div[kcl = "rflex"] > [kr = "viewport"] > [kr = "scrolee"] > [kw] {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
}


form[kcl="fflex"] > [kw], div[kcl="fflex"] > [kw],
form[kcl="fflex"] > [kr="viewport"] > [kw],
div[kcl="fflex"] > [kr="viewport"] > [kw],
form[kcl="fflex"] > [kr="scrolee"] > [kw],
div[kcl="fflex"] > [kr="scrolee"] > [kw],
form[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw] {
    position: absolute !important;
}
form[kcl="fflex"] > [kw], div[kcl="fflex"] > [kw],
form[kcl="fflex"] > [kr="viewport"] > [kw],
div[kcl="fflex"] > [kr="viewport"] > [kw],
form[kcl="fflex"] > [kr="scrolee"] > [kw],
div[kcl="fflex"] > [kr="scrolee"] > [kw],
form[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kw="SegmentedUI2"] > ul[kr="scrolee"] > li > [kw],
div[kw="CollectionView"] > div[kr="scrolee"] > div > [kw] {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
form[kcl="hflex"] > [kw], div[kcl="hflex"] > [kw],
form[kcl="hflex"] > [kr="viewport"] > [kw],
div[kcl="hflex"] > [kr="viewport"] > [kw],
form[kcl="hflex"] > [kr="scrolee"] > [kw],
div[kcl="hflex"] > [kr="scrolee"] > [kw],
form[kcl="hflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kcl="hflex"] > [kr="viewport"] > [kr="scrolee"] > [kw] {
    top: 0px;
    bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
form[kcl="vflex"] > [kw], div[kcl="vflex"] > [kw],
form[kcl="vflex"] > [kr="viewport"] > [kw],
div[kcl="vflex"] > [kr="viewport"] > [kw],
form[kcl="vflex"] > [kr="scrolee"] > [kw],
div[kcl="vflex"] > [kr="scrolee"] > [kw],
form[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kw="SegmentedUI2"] > ul[kr="scrolee"] > li > [kw],
div[kw="SegmentedUI2"] > ol[kr="scrolee"] > li > [kw],
div[kw="SegmentedUI2"] > div[kr="scrolee"] > div > [kw],
div[kw="CollectionView"] > div[kr="scrolee"] > div > [kw] {
    top: 0px !important;
    bottom: 0px !important;
}

form[kcl="fflex"] > [kw], div[kcl="fflex"] > [kw],
form[kcl="fflex"] > [kr="viewport"] > [kw],
div[kcl="fflex"] > [kr="viewport"] > [kw],
form[kcl="fflex"] > [kr="scrolee"] > [kw],
div[kcl="fflex"] > [kr="scrolee"] > [kw],
form[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kw="SegmentedUI2"] > ul[kr="scrolee"] > li > [kw],
div[kw="SegmentedUI2"] > ol[kr="scrolee"] > li > [kw],
div[kw="SegmentedUI2"] > div[kr="scrolee"] > div > [kw],
div[kw="CollectionView"] > div[kr="scrolee"] > div > [kw] {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
form[kcl="hflex"] > [kw], div[kcl="hflex"] > [kw],
form[kcl="vflex"] > [kw], div[kcl="vflex"] > [kw],
form[kcl="vflex"] > [kr="spacer"], div[kcl="vflex"] > [kr="spacer"],
form[kcl="hflex"] > [kr="viewport"] > [kw],
div[kcl="hflex"] > [kr="viewport"] > [kw],
form[kcl="vflex"] > [kr="viewport"] > [kw],
div[kcl="vflex"] > [kr="viewport"] > [kw],
form[kcl="vflex"] > [kr="viewport"] > [kr="spacer"],
div[kcl="vflex"] > [kr="viewport"] > [kr="spacer"],
form[kcl="hflex"] > [kr="scrolee"] > [kw],
div[kcl="hflex"] > [kr="scrolee"] > [kw],
form[kcl="vflex"] > [kr="scrolee"] > [kw],
div[kcl="vflex"] > [kr="scrolee"] > [kw],
form[kcl="vflex"] > [kr="scrolee"] > [kr="spacer"],
div[kcl="vflex"] > [kr="scrolee"] > [kr="spacer"],
form[kcl="hflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kcl="hflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
form[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
div[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kw],
form[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kr="spacer"],
div[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kr="spacer"],
div[kw="SegmentedUI2"] > ul[kr="scrolee"] > li > [kw],
div[kw="SegmentedUI2"] > ol[kr="scrolee"] > li > [kw],
div[kw="SegmentedUI2"] > div[kr="scrolee"] > div > [kw],
div[kw="CollectionView"] > div[kr="scrolee"] > div > [kw] {
    position: relative !important;
    left: 0px !important;
    right: 0px !important;
    align-self: flex-start;
    flex-shrink: 0 !important;
}

form[kcl="vflex"] > [kr="spacer"], div[kcl="vflex"] > [kr="spacer"],
form[kcl="vflex"] > [kr="viewport"] > [kr="spacer"],
div[kcl="vflex"] > [kr="viewport"] > [kr="spacer"],
form[kcl="vflex"] > [kr="scrolee"] > [kr="spacer"],
div[kcl="vflex"] > [kr="scrolee"] > [kr="spacer"],
form[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kr="spacer"],
div[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"] > [kr="spacer"] {
    width: 0px !important;
    visibility: hidden !important;
}

form[kcl="hflex"], form[kcl="vflex"],
div[kcl="hflex"], div[kcl="vflex"],
form[kcl="fflex"] > [kw][kcl="hflex"],
div[kcl="fflex"] > [kw][kcl="hflex"],
form[kcl="fflex"] > [kw][kcl="vflex"],
div[kcl="fflex"] > [kw][kcl="vflex"],
form[kcl="fflex"] > [kr="viewport"] > [kw][kcl="hflex"],
div[kcl="fflex"] > [kr="viewport"] > [kw][kcl="hflex"],
form[kcl="fflex"] > [kr="viewport"] > [kw][kcl="vflex"],
div[kcl="fflex"] > [kr="viewport"] > [kw][kcl="vflex"],
form[kcl="fflex"] > [kr="scrolee"] > [kw][kcl="hflex"],
div[kcl="fflex"] > [kr="scrolee"] > [kw][kcl="hflex"],
form[kcl="fflex"] > [kr="scrolee"] > [kw][kcl="vflex"],
div[kcl="fflex"] > [kr="scrolee"] > [kw][kcl="vflex"],
form[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw][kcl="hflex"],
div[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw][kcl="hflex"],
form[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw][kcl="vflex"],
div[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"] > [kw][kcl="vflex"] {
    display: flex;
}

form[kcl="hflex"], div[kcl="hflex"] {
    flex-direction: row;
}
form[kcl="vflex"], div[kcl="vflex"] {
    flex-direction: column;
}

form[kcl="fflex"] > [kr="scrolee"],
div[kcl="fflex"] > [kr="scrolee"],
form[kcl="hflex"] > [kr="scrolee"],
div[kcl="hflex"] > [kr="scrolee"],
form[kcl="vflex"] > [kr="scrolee"],
div[kcl="vflex"] > [kr="scrolee"],
form[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"],
div[kcl="fflex"] > [kr="viewport"] > [kr="scrolee"],
form[kcl="hflex"] > [kr="viewport"] > [kr="scrolee"],
div[kcl="hflex"] > [kr="viewport"] > [kr="scrolee"],
form[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"],
div[kcl="vflex"] > [kr="viewport"] > [kr="scrolee"],
div[kw="SegmentedUI2"] > ul[kr="scrolee"],
div[kw="SegmentedUI2"] > ol[kr="scrolee"],
div[kw="SegmentedUI2"] > div[kr="scrolee"],
div[kw="CollectionView"] > div[kr="scrolee"] {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    display: inline-block !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    height: 100% !important;
    width: 100% !important;
}

div[kw="FlexScrollContainer"] > div[kr="h-scroll"],
div[kw="FlexScrollContainer"] > div[kr="v-scroll"],
div[kw="SegmentedUI2"] > div[kr="h-scroll"],
div[kw="SegmentedUI2"] > div[kr="v-scroll"],
div[kw="CollectionView"] > div[kr="h-scroll"],
div[kw="CollectionView"] > div[kr="v-scroll"],
form[kw="Form2"] > [kr="viewport"] > div[kr="h-scroll"],
form[kw="Form2"] > [kr="viewport"] > div[kr="v-scroll"] {
    transform: translate(0px, 0px);
    position: absolute !important;
    height: 5px;
    width: 5px;
    visibility: hidden;
    border: 1px solid #777777;
    background-color: #999999;
    border-radius: 3px;
}

label[kw="Button"], button[type="button"][kw="Button"], label[kw="Label"], div[kw="Label"],
span[kw="Label"], p[kw="Label"], h1[kw="Label"], h2[kw="Label"],
h3[kw="Label"], h4[kw="Label"], h5[kw="Label"], h6[kw="Label"],
div[kw="CheckBoxGroup"], div[kw="RadioButtonGroup"], div[kw='RichText'] {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

button[type="button"][kw="Button"], div[kw="Image2"],
label[kw="Button"], label[kw="Label"], div[kw="Label"],
span[kw="Label"], p[kw="Label"], h1[kw="Label"], h2[kw="Label"],
h3[kw="Label"], h4[kw="Label"], h5[kw="Label"], h6[kw="Label"],
div[kw="Calendar"], div[kw="Slider"], div[kw="Switch"],
div[kw="ListBox"][kv="editableview"],
div[kw="TabPane"] > div[kr="wrapper"] {
    display: flex;
}

div[kw="Browser"], div[kw="RichText"],
div[kw="Browser"] *, div[kw="RichText"] * {
    user-select: text;
}

div[kw="Browser"] > iframe {
    height: 100% !important;
    width: 100% !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
}

label[kw="Button"], button[type="button"][kw="Button"] {
    cursor: pointer;
}

div[kw="Calendar"], div[kw="ListBox"][kv="editableview"] {
    flex-direction: row;
}
div[kw="Calendar"] > input, div[kw="ListBox"][kv="editableview"] > input {
    border: none !important;
    outline: none !important;
    height: 100% !important;
    width: 100% !important;
    background-color: transparent !important;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
    font-weight: inherit;
}
div[kw="Calendar"] > img, div[kw="ListBox"][kv="editableview"] > img{
    height: 100% !important;
}
div[kr="calendar"] > div[kr="header"] img {
    cursor: pointer;
}
div[kr="calendar"] > div[kr="footer"] input[kr="apply"],
div[kr="calendar"] > div[kr="footer"] input[kr="close"] {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 15px !important;
}
div[kr="calendar"] > div[kr="footer"] input[kr="apply"] {
    color: #0000FF;
    text-decoration: underline;
}
div[kr="calendar"] > div[kr="footer"] input[kr="close"] {
    color: #FF0000;
    text-decoration: underline;
}

div[kw="CheckBoxGroup"] > label, div[kw="RadioButtonGroup"] > label {
    text-decoration: inherit !important;
}
div[kw="CheckBoxGroup"][ko="horizontal"] > div,
div[kw="RadioButtonGroup"][ko="horizontal"] > div {
    display: inline-block !important;
    margin-right: 5px;
}
div[kw="CheckBoxGroup"][ko="vertical"] > div,
div[kw="RadioButtonGroup"][ko="vertical"] > div {
    display: block !important;
}
div[kw="CheckBoxGroup"] > div > input,
div[kw="RadioButtonGroup"] > div > input {
    margin-right: 3px !important;
    vertical-align: middle !important;
}

div[kw="CheckBoxGroup"] > div > input {
    height: 24px;
    width: 24px;
}

div[kw="RadioButtonGroup"] > div > input {
    height: 20px;
    width: 20px;
}

div[kw="DataGrid"] > ul {
    display: block;
    list-style: none !important;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
div[kw="DataGrid"] > ul > li {
    overflow: hidden;
}
div[kw="DataGrid"] > ul > li{
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none !important;
}
div[kw="DataGrid"] > ul > li > div {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    word-wrap: break-word !important;
}
div[kw="DataGrid"] > ul > li > div > div[kw] {
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
}

form[kw="Form2"] {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
form[kw="Form2"] > div[kr="header"],
form[kw="Form2"] > div[kr="viewport"],
form[kw="Form2"] > div[kr="footer"] {
    position: absolute !important;
    left: 0px !important;
    width: 100% !important;
}
form[kw="Form2"] > div[kr="header"] {
    top: 0px !important;
}
form[kw="Form2"] > div[kr="footer"] {
    bottom: 0px !important;
}

div[kw="Image2"] {
    justify-content: center !important;
    align-items: center !important;
    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
}

div[kw="RichText"] {
    white-space: pre-wrap;
    word-wrap: break-word;
}

div[kw="SegmentedUI2"] > ul[kv="tableview"],
div[kw="SegmentedUI2"] > ol[kv="tableview"],
div[kw="SegmentedUI2"] > div[kv="tableview"] {
    height: 100% !important;
    width: 100% !important;
}
div[kw="SegmentedUI2"] > ul[kv="tableview"] > li,
div[kw="SegmentedUI2"] > ol[kv="tableview"] > li,
div[kw="SegmentedUI2"] > div[kv="tableview"] > div,
div[kw="SegmentedUI2"] > div[kv="pageview"] > div {
    box-sizing: content-box !important;
}
div[kw="SegmentedUI2"] > ul,
div[kw="SegmentedUI2"] > ul > li,
div[kw="SegmentedUI2"] > ol,
div[kw="SegmentedUI2"] > ol > li,
div[kw="SegmentedUI2"] > div[kv="tableview"],
div[kw="SegmentedUI2"] > div[kv="pageview"],
div[kw="SegmentedUI2"] > div[kv="tableview"] > div,
div[kw="SegmentedUI2"] > div[kv="pageview"] > div {
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    list-style: none !important;
}
div[kw="SegmentedUI2"] > ul > li > div[kw],
div[kw="SegmentedUI2"] > ol > li > div[kw],
div[kw="SegmentedUI2"] > div[kv="tableview"] > div > div[kw],
div[kw="SegmentedUI2"] > div[kv="pageview"] > div > div[kw] {
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
}
div[kw="SegmentedUI2"] > ul[kv="pageview"],
div[kw="SegmentedUI2"] > ol[kv="pageview"],
div[kw="SegmentedUI2"] > div[kv="pageview"] {
    display: flex !important;
    height: 100% !important;
}
div[kw="SegmentedUI2"] > ul[kr="scrolee"] > li > [kw],
div[kw="SegmentedUI2"] > ol[kr="scrolee"] > div > [kw],
div[kw="SegmentedUI2"] > div[kr="scrolee"] > div > [kw],
div[kw="CollectionView"] > div[kr="scrolee"] > div > [kw] {
    width: 100% !important;
}
div[kw="Slider"] > div[kr="slider"] {
    display: flex !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
}
div[kw="Slider"] > div[ko="vertical"] {
    flex-direction: column !important;
    height: 100% !important;
}
div[kw="Slider"] > div[ko="horizontal"] {
    flex-direction: row !important;
    width: 100% !important;
}
div[kw="Slider"] > div[kr="slider"] > div[kr="seekbar"] {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 0px !important;
    background-color: transparent !important;
}
div[kw="Slider"] div[kr="min"], div[kw="Slider"] div[kr="max"] {
    position: absolute;
}
div[kw="Slider"] > div[ko="horizontal"] div[kr="min"] {
    left: 0px !important;
}
div[kw="Slider"] > div[ko="horizontal"] div[kr="max"] {
    right: 0px !important;
}
div[kw="Slider"] > div[ko="vertical"] div[kr="min"] {
    bottom: 0px !important;
}
div[kw="Slider"] > div[ko="vertical"] div[kr="max"] {
    top: 0px !important;
}
div[kw="Slider"] > div[ko="horizontal"] div[kr="min"],
div[kw="Slider"] > div[ko="horizontal"] div[kr="max"] {
    top: 0px !important;
    height: 100% !important;
    display: inline-block !important;
}
div[kw="Slider"] > div[ko="vertical"] div[kr="min"],
div[kw="Slider"] > div[ko="vertical"] div[kr="max"] {
    width: 100% !important;
}
div[kw="Slider"] > div[ko="horizontal"] img[kr="thumb"],
div[kw="Slider"] > div[ko="vertical"] img[kr="thumb"] {
    position: absolute !important;
    cursor: pointer !important;
}
div[kw="Slider"] > div[ko="horizontal"] img[kr="thumb"] {
    left: 0px;
    top: 50% !important;
}
div[kw="Slider"] > div[ko="vertical"] img[kr="thumb"] {
    bottom: 0px;
    left: 50% !important;
}
div[kw="Slider"] > div[ko="horizontal"] > div[kr="min-label"],
div[kw="Slider"] > div[ko="horizontal"] > div[kr="max-label"],
div[kw="Slider"] > div[ko="vertical"] > div[kr="min-label"],
div[kw="Slider"] > div[ko="vertical"] > div[kr="max-label"] {
    user-select: none !important;
}
div[kw="Slider"] > div[ko="horizontal"] > div[kr="min-label"],
div[kw="Slider"] > div[ko="horizontal"] > div[kr="max-label"] {
    position: absolute !important;
    top: 100% !important;
    margin-top: 2px !important;
}
div[kw="Slider"] > div[ko="horizontal"] > div[kr="min-label"] {
    left: 0px !important;
}
div[kw="Slider"] > div[ko="horizontal"] > div[kr="max-label"] {
    right: 0px !important;
}
div[kw="Slider"] > div[ko="vertical"] > div[kr="max-label"],
div[kw="Slider"] > div[ko="vertical"] > div[kr="min-label"] {
    transform: translateX(-50%) !important;
}
div[kw="Slider"] > div[ko="vertical"] > div[kr="max-label"] {
    margin-bottom: 2px !important;
}
div[kw="Slider"] > div[ko="vertical"] > div[kr="min-label"] {
    margin-top: 2px !important;
}

div[kw="Switch"] > div[kr="switch"],
div[kw="Switch"] > div[kr="holder"] {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
div[kw="Switch"] > div[kr="switch"] {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
div[kw="Switch"] > div[kr="holder"] {
    display: flex !important;
    background-image: none !important;
    background-color: transparent !important;
}
div[kw="Switch"] div[kr="left"],
div[kw="Switch"] div[kr="right"],
div[kw="Switch"] div[kr="thumb"] {
    transition: transform 0.125s ease-in-out 0s;
}
div[kw="Switch"] div[kr="left"],
div[kw="Switch"] div[kr="right"] {
    position: absolute !important;
    top: 0% !important;
    width: 100% !important;
    height: 100% !important;
    user-select: none !important;
    border-radius: inherit !important;
}
div[kw="Switch"] div[kr="left"] {
    left: 0% !important;
}
div[kw="Switch"] div[kr="right"] {
    left: 100% !important;
}
div[kw="Switch"] div[kr="left"] > label,
div[kw="Switch"] div[kr="right"] > label {
    position: absolute !important;
    top: 0% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    user-select: none !important;
    height: 100% !important;
    width: 100%; /* Must not be !important */
}
div[kw="Switch"] div[kr="left"] > label {
    left: 0% !important;
}
div[kw="Switch"] div[kr="right"] > label {
    right: 0% !important;
}
div[kw="Switch"] div[kr="thumb"] {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    align-self: center !important;
    position: absolute !important;
    right: 0% !important;
    top: auto !important;
    bottom: auto !important;
}
div[kw="Switch"][kt="ios-gt6"] div[kr="left"],
div[kw="Switch"][kt="ios-gt6"] div[kr="right"],
div[kw="Switch"][kt="ios-gt6"] div[kr="thumb"] {
    transition: transform 0.4s ease-in-out 0s;
}
div[kw="Switch"][kt="non-ios-gt6"] div[kr="left"],
div[kw="Switch"][kt="non-ios-gt6"] div[kr="right"],
div[kw="Switch"][kt="non-ios-gt6"] div[kr="thumb"] {
    transition: transform 0.125s ease-in-out 0s;
}
div[kw="Switch"][kt="non-ios-gt6"] > div[kr="switch"],
div[kw="Switch"][kt="non-ios-gt6"] > div[kr="holder"] {
    height: 27px !important;
    width: 100px !important;
}
div[kw="Switch"][kt="non-ios-gt6"] > div[kr="switch"] {
    border-radius: 6px !important;
}
div[kw="Switch"][kt="non-ios-gt6"] div[kr="thumb"] {
    border: 1px solid #919191 !important;
    border-radius: 7px !important;
    height: 100% !important;
    width: 50% !important;
    background-image: linear-gradient(to bottom, #cecece, #fbfbfb);
}
div[kw="Switch"][kt="non-ios-gt6"] div[kr="left"] > label,
div[kw="Switch"][kt="non-ios-gt6"] div[kr="right"] > label {
    width: calc(100% - 50%);
}
/* TODO:: START - This will go to konydesktop.css */
div[kw="Switch"][kt="non-ios-gt6"] div[kr="left"] {
    background-color: #48d874;
}
div[kw="Switch"][kt="non-ios-gt6"] div[kr="right"] {
    background-color: rgba(255, 255, 255, 0.0);
}
div[kw="Switch"][kt="non-ios-gt6"] div[kr="left"] > label,
div[kw="Switch"][kt="non-ios-gt6"] div[kr="right"] > label {
    font-family: Helvetica;
    font-size: 25px;
    font-weight: normal;
    color: #333333;
}

div[kw="TabPane"] > div[kr="wrapper"] {
    width: 100% !important;
    height: 100% !important;
    flex-direction: column;
}
div[kw="TabPane"] > div[kr="wrapper"] > ul[kr="tabs"] {
    display: flex;
    flex-direction: row;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"],
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kw="FlexContainer"],
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kr="scrolee"],
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kr="scrolee"] > div[kw="FlexContainer"] {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
}
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] {
    width: 100%;
}
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kr="scrolee"] {
    height: 100% !important;
    width: 100% !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}
div[kw="TabPane"] > div[kr="wrapper"] > ul[kr="tabs"] > li {
    list-style: none !important;
}
div[kw="TabPane"] > div[kr="wrapper"] > ul[kr="tabs"] > li,
div[kw="TabPane"] > div[kr="wrapper"] > ul[kr="tabs"] > li > label,
div[kw="TabPane"] > div[kr="wrapper"] > ul[kr="tabs"] > li > img,
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[tabid],
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[tabid] > label,
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[tabid] > img,
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kr="scrolee"] > div[tabid],
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kr="scrolee"] > div[tabid] > label,
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kr="scrolee"] > div[tabid] > img {
    white-space: nowrap !important;
    cursor: pointer !important;
}
div[kw="TabPane"] > div[kr="wrapper"] > ul[kr="tabs"] > li > [kw],
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[tabid] > [kw],
div[kw="TabPane"] > div[kr="wrapper"] > div[kr="viewport"] > div[kr="scrolee"] > div[tabid] > [kw] {
    position: relative !important;
}
div[kw="Video"] > video {
    height: 100% !important;
    width: 100% !important;
}
/* TODO:: END - This will go to konydesktop.css */

label[kr="day"],
div[kr="date"] {
    float: left !important;
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
}
div[kr="date"] > label {
    display: flex;
    height: 100% !important;
    width: 100% !important;
    text-decoration: none;
}

.-kony-blocker::after {
    content: '' !important;
    position: absolute !important;
    left: 0px !important;
    top:0px !important;
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
}

.-kony-clear {
    clear: both !important;
    float: none !important;
    height: 0px !important;
    width: 0px !important;
    font-size: 0px !important;
    line-height: 0px !important;
}

.-kony-loading {
    background-color: rgba(0,0,0,0.3);
}

.-kony-ca-topleft,
.-kony-ca-middleleft,
.-kony-ca-bottomleft {
    text-align: left !important;
}
.-kony-ca-topcenter,
.-kony-ca-middlecenter,
.-kony-ca-bottomcenter {
    text-align: center !important;
}
.-kony-ca-topright,
.-kony-ca-middleright,
.-kony-ca-bottomright {
    text-align: right !important;
}
.-kony-ca-topleft,
.-kony-ca-middleleft,
.-kony-ca-bottomleft,
.-kony-ca-topcenter,
.-kony-ca-middlecenter,
.-kony-ca-bottomcenter,
.-kony-ca-topright,
.-kony-ca-middleright,
.-kony-ca-bottomright {
    vertical-align: middle !important;
}


.-kony-option-disabled {
    color: #696969 !important;
}

div[kw="DataGrid"] > ul > li > div.-kony-ca-topleft,
div[kw="DataGrid"] > ul > li > div.-kony-ca-topright,
div[kw="DataGrid"] > ul > li > div.-kony-ca-topcenter,
div[kw="DataGrid"] > ul > li > div.-kony-ca-topleft,
div[kw="DataGrid"] > ul > li > div.-kony-ca-topright,
div[kw="DataGrid"] > ul > li > div.-kony-ca-topright {
    vertical-align: top !important;
}

div[kw="DataGrid"] > ul > li > div.-kony-ca-bottomleft,
div[kw="DataGrid"] > ul > li > div.-kony-ca-bottomright,
div[kw="DataGrid"] > ul > li > div.-kony-ca-bottomcenter,
div[kw="DataGrid"] > ul > li > div.-kony-ca-bottomleft,
div[kw="DataGrid"] > ul > li > div.-kony-ca-bottomright,
div[kw="DataGrid"] > ul > li > div.-kony-ca-bottomcenter {
    vertical-align: bottom !important;
}

select[kw="ListBox"].-kony-ca-topright,
select[kw="ListBox"].-kony-ca-middleright,
select[kw="ListBox"].-kony-ca-bottomright {
    direction: rtl !important;
}
label[kw="Button"].-kony-ca-topleft,
button[type="button"][kw="Button"].-kony-ca-topleft,
label[kw="Label"].-kony-ca-topleft, div[kw="Label"].-kony-ca-topleft,
span[kw="Label"].-kony-ca-topleft, p[kw="Label"].-kony-ca-topleft,
h1[kw="Label"].-kony-ca-topleft, h2[kw="Label"].-kony-ca-topleft,
h3[kw="Label"].-kony-ca-topleft, h4[kw="Label"].-kony-ca-topleft,
h5[kw="Label"].-kony-ca-topleft, h6[kw="Label"].-kony-ca-topleft,
div[kr="date"] > label.-kony-ca-topleft {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}
label[kw="Button"].-kony-ca-topcenter,
button[type="button"][kw="Button"].-kony-ca-topcenter,
label[kw="Label"].-kony-ca-topcenter, div[kw="Label"].-kony-ca-topcenter,
span[kw="Label"].-kony-ca-topcenter, p[kw="Label"].-kony-ca-topcenter,
h1[kw="Label"].-kony-ca-topcenter, h2[kw="Label"].-kony-ca-topcenter,
h3[kw="Label"].-kony-ca-topcenter, h4[kw="Label"].-kony-ca-topcenter,
h5[kw="Label"].-kony-ca-topcenter, h6[kw="Label"].-kony-ca-topcenter,
div[kr="date"] > label.-kony-ca-topcenter {
    justify-content: center !important;
    align-items: flex-start !important;
}
label[kw="Button"].-kony-ca-topright,
button[type="button"][kw="Button"].-kony-ca-topright,
label[kw="Label"].-kony-ca-topright, div[kw="Label"].-kony-ca-topright,
span[kw="Label"].-kony-ca-topright, p[kw="Label"].-kony-ca-topright,
h1[kw="Label"].-kony-ca-topright, h2[kw="Label"].-kony-ca-topright,
h3[kw="Label"].-kony-ca-topright, h4[kw="Label"].-kony-ca-topright,
h5[kw="Label"].-kony-ca-topright, h6[kw="Label"].-kony-ca-topright,
div[kr="date"] > label.-kony-ca-topright {
    justify-content: flex-end !important;
    align-items: flex-start !important;
}
label[kw="Button"].-kony-ca-middleleft,
button[type="button"][kw="Button"].-kony-ca-middleleft,
label[kw="Label"].-kony-ca-middleleft, div[kw="Label"].-kony-ca-middleleft,
span[kw="Label"].-kony-ca-middleleft, p[kw="Label"].-kony-ca-middleleft,
h1[kw="Label"].-kony-ca-middleleft, h2[kw="Label"].-kony-ca-middleleft,
h3[kw="Label"].-kony-ca-middleleft, h4[kw="Label"].-kony-ca-middleleft,
h5[kw="Label"].-kony-ca-middleleft, h6[kw="Label"].-kony-ca-middleleft,
div[kr="date"] > label.-kony-ca-middleleft {
    justify-content: flex-start !important;
    align-items: center !important;
}
label[kw="Button"].-kony-ca-middlecenter,
button[type="button"][kw="Button"].-kony-ca-middlecenter,
label[kw="Label"].-kony-ca-middlecenter, div[kw="Label"].-kony-ca-middlecenter,
span[kw="Label"].-kony-ca-middlecenter, p[kw="Label"].-kony-ca-middlecenter,
h1[kw="Label"].-kony-ca-middlecenter, h2[kw="Label"].-kony-ca-middlecenter,
h3[kw="Label"].-kony-ca-middlecenter, h4[kw="Label"].-kony-ca-middlecenter,
h5[kw="Label"].-kony-ca-middlecenter, h6[kw="Label"].-kony-ca-middlecenter,
div[kr="date"] > label.-kony-ca-middlecenter {
    justify-content: center !important;
    align-items: center !important;
}
label[kw="Button"].-kony-ca-middleright,
button[type="button"][kw="Button"].-kony-ca-middleright,
label[kw="Label"].-kony-ca-middleright, div[kw="Label"].-kony-ca-middleright,
span[kw="Label"].-kony-ca-middleright, p[kw="Label"].-kony-ca-middleright,
h1[kw="Label"].-kony-ca-middleright, h2[kw="Label"].-kony-ca-middleright,
h3[kw="Label"].-kony-ca-middleright, h4[kw="Label"].-kony-ca-middleright,
h5[kw="Label"].-kony-ca-middleright, h6[kw="Label"].-kony-ca-middleright,
div[kr="date"] > label.-kony-ca-middleright {
    justify-content: flex-end !important;
    align-items: center !important;
}
label[kw="Button"].-kony-ca-bottomleft,
button[type="button"][kw="Button"].-kony-ca-bottomleft,
label[kw="Label"].-kony-ca-bottomleft, div[kw="Label"].-kony-ca-bottomleft,
span[kw="Label"].-kony-ca-bottomleft, p[kw="Label"].-kony-ca-bottomleft,
h1[kw="Label"].-kony-ca-bottomleft, h2[kw="Label"].-kony-ca-bottomleft,
h3[kw="Label"].-kony-ca-bottomleft, h4[kw="Label"].-kony-ca-bottomleft,
h5[kw="Label"].-kony-ca-bottomleft, h6[kw="Label"].-kony-ca-bottomleft,
div[kr="date"] > label.-kony-ca-bottomleft {
    justify-content: flex-start !important;
    align-items: flex-end !important;
}
label[kw="Button"].-kony-ca-bottomcenter,
button[type="button"][kw="Button"].-kony-ca-bottomcenter,
label[kw="Label"].-kony-ca-bottomcenter, div[kw="Label"].-kony-ca-bottomcenter,
span[kw="Label"].-kony-ca-bottomcenter, p[kw="Label"].-kony-ca-bottomcenter,
h1[kw="Label"].-kony-ca-bottomcenter, h2[kw="Label"].-kony-ca-bottomcenter,
h3[kw="Label"].-kony-ca-bottomcenter, h4[kw="Label"].-kony-ca-bottomcenter,
h5[kw="Label"].-kony-ca-bottomcenter, h6[kw="Label"].-kony-ca-bottomcenter,
div[kr="date"] > label.-kony-ca-bottomcenter {
    justify-content: center !important;
    align-items: flex-end !important;
}
label[kw="Button"].-kony-ca-bottomright,
button[type="button"][kw="Button"].-kony-ca-bottomright,
label[kw="Label"].-kony-ca-bottomright, div[kw="Label"].-kony-ca-bottomright,
span[kw="Label"].-kony-ca-bottomright, p[kw="Label"].-kony-ca-bottomright,
h1[kw="Label"].-kony-ca-bottomright, h2[kw="Label"].-kony-ca-bottomright,
h3[kw="Label"].-kony-ca-bottomright, h4[kw="Label"].-kony-ca-bottomright,
h5[kw="Label"].-kony-ca-bottomright, h6[kw="Label"].-kony-ca-bottomright,
div[kr="date"] > label.-kony-ca-bottomright {
    justify-content: flex-end !important;
    align-items: flex-end !important;
}
/* Any changes here may need a change in _renderCalendar function of calendar widget file */
div[theme="modern"] {
    box-sizing: content-box !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 4px !important;
    background-color: #FFFFFF !important;
}
div[theme="modern"] div[kr="title"] {
    text-align: center;
    font-size: 12px;
}
div[theme="modern"] div[kr="header"] {
    padding-top: 8px !important;
    padding-bottom: 12px !important;
}
/* Any changes here may need a change in _renderCalendar function of calendar widget file */
div[theme="modern"] div[kr="weekdays"] {
    padding-bottom: 5px !important;
}
div[theme="modern"] div[kr="header"],
div[theme="modern"] div[kr="weekdays"] {
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 100% !important;
}
div[theme="modern"] div[kr="header"],
div[theme="modern"] div[kr="weekdays"] {
    font-weight: bold !important;
    line-height: 100% !important;
}
div[theme="modern"] div[kr="weekdays"],
div[theme="modern"] div[kr="dates"] {
        font-size: 14px !important;
}
div[theme="modern"] div[kr="header"] {
    font-size: 16px !important;
}
div[theme="modern"] div[kr="dates"] {
    font-weight: normal !important;
}
div[theme="modern"] .-kony-calendar-grid {
    color: #333333 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
div[theme="modern"] .-kony-calendar-cell-inactive {
    color: #AAAAAA;
}
div[theme="modern"] .-kony-calendar-cell-selected {
    border: 1px solid #337AB7 !important;
    border-radius: 4px !important;
    background-color: #337AB7 !important;
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
div[theme="modern"] .-kony-calendar-cell-today:after {
    content: '';
    position: relative;
    bottom: 15px;
    left: 30px;
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #337ab7;
    border-top-color: rgba(0, 0, 0, 0.2);
    text-align: end;
}
div[theme="modern"] .-kony-calendar-cell-hover {
    background-color: #EBEBEB !important;
    color: black !important;
}

/* Any changes here may need a change in _renderCalendar function of calendar widget file */
div[theme="legacy"] {
    box-sizing: content-box !important;
    border: 1px solid #CCCCCC !important;
    background-color: #FFFFFF !important;
}
div[theme="legacy"] div[kr="title"] {
    text-align: center;
    font-size: 12px;
}
div[theme="legacy"] div[kr="header"] {
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    color: #000000 !important;
}
/* Any changes here may need a change in _renderCalendar function of calendar widget file */
div[theme="legacy"] div[kr="weekdays"] {
    padding-bottom: 5px !important;
    color: #808080 !important;
}
div[theme="legacy"] div[kr="header"],
div[theme="legacy"] div[kr="weekdays"] {
    font-weight: bold !important;
    line-height: 100% !important;
}
div[theme="legacy"] div[kr="weekdays"],
div[theme="legacy"] div[kr="dates"] {
    font-size: 11px !important;
}
div[theme="legacy"] div[kr="header"] {
    font-size: 13px !important;
}
div[theme="legacy"] div[kr="dates"] {
    font-weight: bold !important;
}
div[theme="legacy"] div[kr="date"]:focus {
    outline: none !important;
    border: 1px solid #337AB7 !important;
}
div[theme="legacy"] .-kony-calendar-grid {
    color: #333333 !important;
}
div[theme="legacy"] .-kony-calendar-cell-inactive {
    color: #000000;
    font-weight: normal !important;
    background-color: #F8F8F8;
}
div[theme="legacy"] .-kony-calendar-cell {
    border: 1px solid #F2F2F2;
    color: #666363;
    font-size: 13px;
    font-weight: bold;

}
div[theme="legacy"] .-kony-calendar-cell-selected {
    border: 1px solid #F2F2F2;
    background-color: #B3D4FF;
    font-weight: normal !important;
    cursor: pointer;
}
div[theme='legacy'] .-kony-calendar-cell-weekend {
    border: 1px solid #DEDEDE;
    background-color: white;
    font-weight: bold;
    color: #008000;
}
div[theme="legacy"] .-kony-calendar-cell-today {
    border: 1px solid black;
    background-color: white;
}
div[theme="legacy"] .-kony-calendar-cell-hover {
    background-color: #EBEBEB !important;
    color: black !important;
}
div[kr='header'] div[kr='month'] div[kdropdown] ul,
div[kr='header'] div[kr='year'] div[kdropdown] ul {
    z-index: 1;
    border-radius: 4px;
}
div[kr='header'] div[kr='month'] div[kdropdown],
div[kr='header'] div[kr='year'] div[kdropdown] {
    font-family: Roboto-Regular;
    font-size: 13px;
    color: #313131;
    letter-spacing: 0.18px;
}
div[kr='header'] div[kr='month'] div[kdropdown] img,
div[kr='header'] div[kr='year'] div[kdropdown] img {
    position: absolute;
    right: 5px;
    top: calc((100% - 5px)/2);
    height: 5px;
    width: 8px;
}
div[kr='header'] div[kr='month'] div[kdropdown] input,
div[kr='header'] div[kr='year'] div[kdropdown] input {
    border-radius: 4px;
    text-indent: 5px;
    border: 1px solid #565353;
    background-color: transparent;
    font-family: Roboto-Medium;
    font-size: 13px;
    letter-spacing: 0.18px;
    font-weight: bold;
}
div[kw="CollectionView"] > div[kv="horizontal"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100% !important;
    width: 100% !important;
}

div[kw="CollectionView"] > div[kv="vertical"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100% !important;
    width: 100% !important;
}
div[kw="CollectionView"] > div[kv="custom"] {
    position: relative;
    table-layout: fixed;
    height: 100% !important;
    width: 100% !important;
}
div[kw="CollectionView"] > div[kv="custom"] > div{
    position: absolute !important;
}
div[kw="CollectionView"] > div[kv="vertical"] > div,
div[kw="CollectionView"] > div[kv="horizontal"] > div{
    position: relative !important;
}

div[kw="ListBox"][kv="editableview"] ~ ul>li {
    border: none;
}

input[kw="TextBox2"], textarea[kw="TextArea2"] {
    cursor: text;
}

/* Transitions */

@-o-keyframes slidetopout {
    from {
        -o-transform: translateY(0%);
    }
    to {
        -o-transform: translateY(-100%);
    }
}

@-ms-keyframes slidetopout {
    from {
        -ms-transform: translateY(0%);
    }
    to {
        -ms-transform: translateY(-100%);
    }
}

@-moz-keyframes slidetopout {
    from {
        -moz-transform: translateY(0%);
    }
    to {
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes slidetopout {
    from {
        -webkit-transform: translateY(0%);
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}

@-o-keyframes slidetopin {
    from {
        -o-transform: translateY(100%);
    }
    to {
        -o-transform: translateY(0);
    }
}

@-ms-keyframes slidetopin {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0);
    }
}

@-moz-keyframes slidetopin {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slidetopin {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes slidebottomout {
    from {
        -o-transform: translateY(0%);
    }
    to {
        -o-transform: translateY(100%);
    }
}

@-ms-keyframes slidebottomout {
    from {
        -ms-transform: translateY(0%);
    }
    to {
        -ms-transform: translateY(100%);
    }
}

@-moz-keyframes slidebottomout {
    from {
        -moz-transform: translateY(0%);
    }
    to {
        -moz-transform: translateY(100%);
    }
}

@-webkit-keyframes slidebottomout {
    from {
        -webkit-transform: translateY(0%);
    }
    to {
        -webkit-transform: translateY(100%);
    }
}

@-o-keyframes slidebottomin {
    from {
        -o-transform: translateY(-100%);
    }
    to {
        -o-transform: translateY(0);
    }
}

@-ms-keyframes slidebottomin {
    from {
        -ms-transform: translateY(-100%);
    }
    to {
        -ms-transform: translateY(0);
    }
}

@-moz-keyframes slidebottomin {
    from {
        -moz-transform: translateY(-100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slidebottomin {
    from {
        -webkit-transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes slideleftout {
    from {
        -o-transform: translateX(0);
    }
    to {
        -o-transform: translateX(-100%);
    }
}

@-ms-keyframes slideleftout {
    from {
        -ms-transform: translateX(0);
    }
    to {
        -ms-transform: translateX(-100%);
    }
}

@-moz-keyframes slideleftout {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideleftout {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@-o-keyframes slideleftin {
    from {
        -o-transform: translateX(100%);
    }
    to {
        -o-transform: translateX(0);
    }
}

@-ms-keyframes slideleftin {
    from {
        -ms-transform: translateX(100%);
    }
    to {
        -ms-transform: translateX(0);
    }
}

@-moz-keyframes slideleftin {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideleftin {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-o-keyframes sliderightout {
    from {
        -o-transform: translateX(0);
    }
    to {
        -o-transform: translateX(100%);
    }
}

@-ms-keyframes sliderightout {
    from {
        -ms-transform: translateX(0);
    }
    to {
        -ms-transform: translateX(100%);
    }
}

@-moz-keyframes sliderightout {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes sliderightout {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(100%);
    }
}

@-o-keyframes sliderightin {
    from {
        -o-transform: translateX(-100%);
    }
    to {
        -o-transform: translateX(0);
    }
}

@-ms-keyframes sliderightin {
    from {
        -ms-transform: translateX(-100%);
    }
    to {
        -ms-transform: translateX(0);
    }
}

@-moz-keyframes sliderightin {
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes sliderightin {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-o-keyframes slidetoprightin {
    from {
        -o-transform: translate3d(100%, -100%, 0);
    }
    to {
        -o-transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slidetoprightin {
    from {
        -ms-transform: translate3d(100%, -100%, 0);
    }
    to {
        -ms-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slidetoprightin {
    from {
        -moz-transform: translate3d(100%, -100%, 0);
    }
    to {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slidetoprightin {
    from {
        -webkit-transform: translate3d(100%, -100%, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes slidetoprightout {
    from {
        -o-transform: translate3d(0, 0, 0);
    }
    to {
        -o-transform: translate3d(-100%, 100%, 0);
    }
}

@-ms-keyframes slidetoprightout {
    from {
        -ms-transform: translate3d(0, 0, 0);
    }
    to {
        -ms-transform: translate3d(-100%, 100%, 0);
    }
}

@-moz-keyframes slidetoprightout {
    from {
        -moz-transform: translate3d(0, 0, 0);
    }
    to {
        -moz-transform: translate3d(-100%, 100%, 0);
    }
}

@-webkit-keyframes slidetoprightout {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-100%, 100%, 0);
    }
}

@-o-keyframes slidebottomleftin {
    from {
        -o-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -o-transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slidebottomleftin {
    from {
        -ms-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -ms-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slidebottomleftin {
    from {
        -moz-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slidebottomleftin {
    from {
        -webkit-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes slidebottomleftout {
    from {
        -o-transform: translate3d(0, 0, 0);
    }
    to {
        -o-transform: translate3d(100%, -100%, 0);
    }
}

@-ms-keyframes slidebottomleftout {
    from {
        -ms-transform: translate3d(0, 0, 0);
    }
    to {
        -ms-transform: translate3d(100%, -100%, 0);
    }
}

@-moz-keyframes slidebottomleftout {
    from {
        -moz-transform: translate3d(0, 0, 0);
    }
    to {
        -moz-transform: translate3d(100%, -100%, 0);
    }
}

@-webkit-keyframes slidebottomleftout {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(100%, -100%, 0);
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes scalein {
    from {
        -o-transform: scale(0);
    }
    to {
        -o-transform: scale(100%);
    }
}

@-ms-keyframes scalein {
    from {
        -ms-transform: scale(0);
    }
    to {
        -ms-transform: scale(100%);
    }
}

@-moz-keyframes scalein {
    from {
        -moz-transform: scale(0);
    }
    to {
        -moz-transform: scale(100%);
    }
}

@-webkit-keyframes scalein {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(100%);
    }
}

@-o-keyframes scaleout {
    from {
        -o-transform: scale(100%);
    }
    to {
        -o-transform: scale(0);
    }
}

@-ms-keyframes scaleout {
    from {
        -ms-transform: scale(100%);
    }
    to {
        -ms-transform: scale(0);
    }
}

@-moz-keyframes scaleout {
    from {
        -moz-transform: scale(100%);
    }
    to {
        -moz-transform: scale(0);
    }
}

@-webkit-keyframes scaleout {
    from {
        -webkit-transform: scale(100%);
    }
    to {
        -webkit-transform: scale(0);
    }
}

@-o-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-ms-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-moz-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-webkit-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-o-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}

@-ms-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}

@-moz-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}

@-webkit-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}



div[kdropdown] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

div[kdropdown] input {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    box-sizing: content-box;
    position: absolute;
}

div[kdropdown] input:focus {
    border: 1px solid black;
}

div[kdropdown] img {
    position: absolute;
    right: 10px;
    top: calc((100% - 20px)/2);
    height: 20px;
    width: 20px;
}

div[kdropdown] ul {
    display: none;
    position: absolute;
    margin: 5px 0 0 0;
    padding: 0;
    width: 100%;
    left: 0;
    list-style: none;
    background: white;
    overflow: hidden;
    overflow-y: auto;
}

div[kdropdown].active ul {
    display: block;
}

div[kdropdown] ul {
    display: block;
    text-align: left;
    padding: 2px;
    color: black;
    cursor: pointer;
}

div[kdropdown] ul li.-kony-hovered,
div[kdropdown] ul li.-kony-focused,
div[kdropdown] ul li.-kony-selected {
    background: blue;
    color: white;
}
